<%= form_with(model: calculation) do |form| %>
  <div class="form-group">
    <%= form.label :basic_pay %>
    <%= form.text_field :basic_pay, class: "form-control" %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
